RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d


RewriteRule ^(.*)$ ?cod=$1 [L]
RewriteCond %{HTTP_HOST} ^phppa.org$ [OR]
RewriteCond %{HTTP_HOST} ^www.phppa.org$


